<html>
  <head>
    <title>{{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/brython.js"></script>
    <script src="js/brython_stdlib.js"></script>
    <link rel="stylesheet" href="css/water.css">
  </head>
  <body onload="brython()">
    <div id="main"><h1>It works</h1></div>
    <div id="stack" style="display: none";>
    {% raw %}{% for card in stack %}
    <div id="{{ card.name }}">
      {{ card.content|safe }}
    </div>
    {% endfor %}{% endraw %}
    </div>
    <script type="text/python" src="py/app.py"></script>
  </body>
</html>
